@import "reset";
@import "modal";

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 13%;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .cart-icon {
    position: relative;

    img {
      width: 24px;
      height: 24px;
    }

    .cart-count {
      position: absolute;
      top: -5px;
      right: -10px;
      background-color: red;
      color: white;
      border-radius: 50%;
      padding: 2px 6px;
      font-size: 12px;
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 2% 13%;

  h1 {
    color: #333333;
    position: absolute;
    top: 150px;
    font-size: 32px;
    font-weight: 400;
    line-height: 43.58px;

  }

  aside {
    flex: 1;
    min-width: 200px;
    max-width: 400px;
    margin-right: 20px;
    margin-top: 130px;

    #filter-form {
      width: 153px;
      margin-bottom: 20px;

      h3 {
        font-family: 'Open Sans';
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.79px;
        letter-spacing: 0.05em;
        padding: 20px 0;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      #color-filter-container {
        display: flex;
        flex-direction: column;

        .filter-label {
          cursor: pointer;
          display: flex;
          align-items: center;
          padding: 5px;
          margin: 5px 0;
          opacity: 0.5;
        }

        .filter-input {
          display: none;
        }

        .filter-label::before {
          content: "";
          border: 1px solid #0000006b;
          padding: 8px;
          border-radius: 0;
          opacity: 10;
          position: relative;
          left: -4px;
        }

        .filter-input:checked + .filter-label::before {
          content: "";
          border: 1px solid #000;
          padding: 8px;
          border-radius: 0;
          opacity: 10;
          position: relative;
          left: -4px;
        }

        .filter-label.selected {
          background-color: #FB953E;
          color: #000;
          opacity: 10;
          width: 10px;
          height: 10px;
          padding: 1px;
          margin: 13px 0px;
          position: relative;
          left: 4px;
        }
      }

      #size-filter-container {
        .filter-label {
          width: 22px;
          height: 22px;
          text-align: center;
          line-height: 1.3;
          cursor: pointer;
          display: inline-block;
          padding: 5px;
          border: 1px solid #000;
          opacity: 0.5;
        }

        .filter-input {
          display: none;
        }

        .filter-label.selected {
          background-color: #fff;
          border-color: #FB953E;
          color: #000;
          opacity: 10;
        }
      }

      label {
        display: block;
        margin-bottom: 5px;
      }

      input[type="text"], select {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
      }

      button {
        background-color: #000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 4px;
      }
    }

    #price-filter-container {
      display: flex;
      flex-direction: column;

      span {
        display: flex;
        min-width: 166px;
      }

      .filter-label {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 5px;
        margin: 5px 0;
      }

      .filter-input {
        display: none;
      }

      .filter-label::before {
        content: "";
        border: 1px solid #0000006b;
        padding: 8px;
        border-radius: 0;
        opacity: 10;
        position: relative;
        left: -4px;
      }

      .filter-input:checked + .filter-label::before {
        content: "";
        border: 1px solid #000;
        padding: 8px;
        border-radius: 0;
        opacity: 10;
        position: relative;
        left: -4px;
      }

      .filter-label.selected {
        background-color: #FB953E;
        color: #000;
        opacity: 10;
        width: 10px;
        height: 10px;
        padding: 1px;
        margin: 13px 0px;
        position: relative;
        left: 4px;
      }
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input[type="text"], select {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
    }

    button {
      background-color: #000;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 4px;
    }
  }

  section {
    flex: 3;
    min-width: 300px;

    #sort-filter-container {
      padding: 2% 0;
      display: flex;
      justify-content: flex-end;

      .custom-select {
        position: relative;
        font-family: 'Open Sans';

        .select-selected {
          background-color: #fff;
          border: 1px solid #ccc;
          height: 42px;
          width: 142px;
          padding: 0 3px;
          font-size: 16px;
          line-height: 21.79px;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }

        .select-selected .select-arrow {
          margin-left: 10px;
          width: 16px;
          height: 16px;
          cursor: pointer;
        }

        .select-selected.select-arrow-active::after {
          content: "";
          position: absolute;
          top: 14px;
          right: 10px;
          border: '1'px solid transparent;
          border-color: #000 transparent transparent transparent;
        }

        .select-items {
          width: 148px;
          font-size: 16px;
          line-height: 21.79px;
          position: absolute;
          background-color: #fff;
          border: 1px solid #00000079;
          z-index: 99;
        }

        .select-hide {
          display: none;
        }

        .select-items div {
          color: #000;
          padding: 10px;
          cursor: pointer;
          user-select: none;
        }

        .select-items div:hover, .same-as-selected {
          background-color: #FB953E;
          color: #fff;
        }
      }
    }

    #product-list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .product {
        flex: 1 1 calc(33.333% - 20px);
        box-sizing: border-box;
        padding: 10px;
        border: 0 solid #ddd;
        border-radius: 4px;
        text-align: center;

        img {
          max-width: 100%;
          height: auto;
        }

        h2 {
          font-size: 18px;
          margin: 10px 0;
        }

        p {
          margin: 5px 0;
        }

        .product-name {
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 400;
          line-height: 19.07px;
        }

        .product-price {
          font-size: 16px;
          font-weight: 700;
          line-height: 21.79px;
        }

        .product-payment {
          color: #666666;
          font-size: 16px;
          font-weight: 400;
          line-height: 21.79px;
          padding-bottom: 10px;
        }

        button {
          width: 195px;
          height: 33px;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          font-family: 'Open Sans';
          line-height: 1px;
          background-color: #000;
          color: #fff;
          border: none;
          padding: 10px 20px;
          cursor: pointer;
          border-radius: 0;
        }
      }
    }

    .load-more {
      display: flex;
      justify-content: center;
      padding: 50px;

      #load-more {
        box-decoration-break: block;
          width: 175px;
          margin-top: 20px;
          background-color: #FB953E;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          font-family: "Open Sans";
          color: #fff;
          padding: 10px 20px;
          cursor: pointer;
          border-radius: 0;
          border: none;
      }
    }
  }
}

footer {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 1% 13%;
  background-color: #000;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;

    aside {
      margin-right: 0;
      margin-bottom: 20px;
    }

    section {
      #product-list {
        .product {
          flex: 1 1 calc(50% - 20px); 
        }
      }
    }
  }
}


@media (max-width: 768px) {
  main {
    display: flex;
    flex-wrap: wrap;
    padding: 2% 5%;

    h1 {
      color: #333333;
      position: static;
      font-size: 32px;
      font-weight: 400;
      line-height: 43.58px;
      text-align: center;
  }

    aside {
      margin-right: 0;
      margin-bottom: 20px;
    }

    section {
      
      #product-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
       

        .product {
          flex: 1 1 calc(50% - 20px); 
          width: 50%;
          padding: 0;
          
          button {
            width: 162px;
            height: 33px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            font-family: "Open Sans";
            line-height: 1px;
            background-color: #000;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }
        }
      }

      .custom-select{
        display: none;
      }
    }
  }
}

@media (max-width: 480px) {
  header {
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 30px;

    .cart-icon {
      align-self: flex-end;

      .cart-count {
        position: absolute;
        top: -5px;
        right: -7px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 5px;
        font-size: 12px;
        /* line-height: 12px; */
    }
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
    padding: 2% 5%;
    h1 {
      color: #333333;
      position: static;
      top: 150px;
      font-size: 32px;
      font-weight: 400;
      line-height: 43.58px;
      text-align: center;
    }

    section {
      #product-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        
        
        .product {
          flex: 1 1 calc(50% - 20px); 
          width: 50%;
          padding: 0;

          button {
            width: 162px;
            height: 33px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            font-family: "Open Sans";
            line-height: 1px;
            background-color: #000;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }
        }
      }
      .custom-select{
        display: none;
      }
    }
  }
}

@media (max-width: 350px) {
  header {
    flex-direction: column;
    align-items: flex-start;

    .cart-icon {
      align-self: flex-end;

      .cart-count {
        position: absolute;
        top: -5px;
        right: -7px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 5px;
        font-size: 12px;
        /* line-height: 12px; */
    }
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
    padding: 2% 5%;

    h1 {
      color: #333333;
      position: static;
      top: 150px;
      font-size: 32px;
      font-weight: 400;
      line-height: 43.58px;
      text-align: center;
    }
    
    section {
      #product-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        
        
        .product {
          flex: 1 1 calc(100% - 20px); 
          width: 50%;
          padding: 0;

          button {
            width: 162px;
            height: 33px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            font-family: "Open Sans";
            line-height: 1px;
            background-color: #000;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }
        }
        .custom-select{
          display: none;
        }
      }
    }
  }
}